<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-waste Manager</title>
    <!-- <link rel="icon" href="pics/repairstut.png" type="image/png"> -->
    <link rel="stylesheet" href="{{url_for("static",filename='mystyle.css')}}">
</head>

<body>
    <div id="header">
        <img src="static/pics/logo_im.jpg" style="height: 70px;
        width: 70px; border-radius:15px 0px 0px 15px">
        <img src="static/pics/logo_text.jpg" style="height: 70px;
        width: 190px; border-radius: 0px 15px 15px 0px">

        <form method="post" action="search_item">
        <select id="myselect_home" aria-haspopup="true" name="FILTER" style="display: none;">
            <option value="component">Search by component</option>
            <option value="product">Search for product</option>
        </select>

        <input type="text" id="search" placeholder="Find your needs here :)" name="SEARCHVALUE">
        <button id="theduga">Search</button></a>
        </form>
        <button id="virka" onclick="virka_open()" >Sell</button>
    </div>

    <div id="main_section">
      <table id="cards_holder" cellspacing="10px">
        {% for i in range(0, info|length, 2) %}
          <tr>
            <td>
              <div id="card">
                <div id="image_card">
                  <img src="data:{{ info[i].mime }};base64,{{ info[i].img | safe }}" style="width: 100%; height: 100%; object-fit: contain;"/>
                </div>
                <div id="desc_card" style="background-color: rgb(233, 64, 64); border: 1px solid rgba(255,255,255,0.3)">
                  <table style="margin-left: 10px; margin-top: 10px;">
                    <tr>
                      <td>Description :</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{ info[i].descript }}</td>
                    </tr>
                    <tr>
                      <td>Components :</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{ info[i].components }}</td>
                    </tr>
                    <tr>
                      <td>Location :</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{ info[i].loca }}</td>
                    </tr>
                  </table>
                </div>
                <a href="{{ url_for('view_post', post_id=info[i].post_id) }}"><button id="postkanbi">View</button></a>
              </div>
            </td>
            {% if i + 1 < info|length %}
              <td>
                <div id="card">
                  <!-- Card content for info[i + 1] -->
                  <div id="image_card">
                    <img src="data:{{ info[i + 1].mime }};base64,{{ info[i + 1].img | safe }}" style="width: 100%; height: 100%; object-fit: contain;"/>
                  </div>
                  <div id="desc_card" style="background-color: rgb(233, 64, 64); border: 1px solid rgba(255,255,255,0.3)">
                    <table style="margin-left: 10px; margin-top: 10px;">
                      <tr>
                        <td>Description :</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>{{ info[i + 1].descript }}</td>
                      </tr>
                      <tr>
                        <td>Components :</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>{{ info[i + 1].components }}</td>
                      </tr>
                      <tr>
                        <td>Location :</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>{{ info[i + 1].loca }}</td>
                      </tr>
                    </table>
                  </div>
                  <a href="{{ url_for('view_post', post_id=info[i + 1].post_id) }}"><button id="postkanbi">View</button></a>
                </div>
              </td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>      
      
            

        <div id="new_product_sale">
        <div id="moodu" style="display: flex; justify-content: right; width: 90%; margin-top: 1vh;">
            <p style="font-size: 5vh; cursor: pointer;" onclick="virka_close()">&times;</p>
        </div>
        <form action="/post_ad" id="poster" method="post" enctype="multipart/form-data" style="margin-top: 5vh;">
            <div  style="display:flex; align-items: center; justify-content: end; gap: 3vw;">
                <div style="display:flex; align-items: center; justify-content: end; flex-direction: column;" >
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <button id="scroll-button" onclick="scrollxb()" type="button"><</button>
                        <div id="selected-images"></div>
                        <button id="scroll-button" onclick="scrollxf()" type="button">></button>
                    </div>
                    <button id="add-images-btn">Add Images</button>
                    <input type="file" required multiple accept="image/*" id="image-input" style="display:none;" name="images[]">
                </div>
                <div style="display: flex; align-items: top; justify-content: center; flex-direction: column;">
                    <table cellspacing="20vw">
                        <tr>
                          <td colspan="4" align="center" style="text-align: center;"><input type="text" name="description" required style="border-radius: 5px; height: 10vh;" placeholder="Description"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" value="Capacitor" name="chek">
                            </td>
                            <td>Capacitor</td>
                            <td>
                                <input type="checkbox" value="Resistor" name="chek">
                                </td>
                                <td>Resistor</td>
                        </tr>
                        <tr>
                            <td>
                            <input type="checkbox" value="Transistor" name="chek">
                            </td>
                            <td>Transistor</td>
                            <td>
                                <input type="checkbox" value="Led" name="chek">
                                </td>
                                <td>Led</td>
                        </tr>
                        <tr>
                            <td>
                            <input type="checkbox" value="IC" name="chek">
                            </td>
                            <td>IC</td>
                            <td colspan="2"><input id='texted' type="text" style="height: 20px; width: 70px;" placeholder="Custom" name="cust_text"></td>
                        </tr>
                    </table>
                    <div style="display: flex; align-items: center; justify-content: center; gap: 2vw;">
                        <a href="{{ url_for('static', filename='model.html')}}">
                        <button style="display: flex; background-color: black; color: white; outline: none; border: none;
                        border: 1px solid rgba(255,255,255,0.5); border-radius: 10px;" type="button">
                          <img src="static/pics/ai.jpeg" style="width: 20px; height: 25px; border-radius: 10px;">
                          <p style="padding: 5px;">Use AI</p>
                        </button>
                        </a>
                        <button type="submit" id="post_im" >
                          <img src="static/pics/3r.png" style="width: 20px; height: 20px;">
                          <p style="padding: 5px;">Post</p>
                        </button>
                    </div>
                </div>
            </div>
            </form>
            </div>
            <script>
            document.getElementById('poster').addEventListener('submit', function(event) {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                var textInput = document.getElementById('texted');
                var fileInput = document.getElementById('image-input');
              
                var checked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                var hasText = textInput.value.trim() !== '';
                var hasFile = fileInput.files.length > 0;
              
                if (!hasFile || (!checked && !hasText)) {
                  event.preventDefault();
                  alert('Please select a file and (check at least one option or enter text).');
                  return false;
                }
              });
            </script>          
        </div>
    </div>
    <script src="{{url_for('static', filename='javafile.js')}}"></script>

</body>

</html>